html, body {
    margin: 0; padding: 0;
    font-family: Circular Std, Verdana, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

ul {margin: 0; padding: 0}

.nav__header {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 13px;
    position: fixed;
    transition: 0.5s;
    font-size: 14px;
    background-color:  #fff;
}

.mobile__header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #fff;
    position: fixed; top: 0;   
}

.hamburger {
    background: #fff;
    display: inline-block;
    position: relative;
    /* padding: 0px; */
    cursor: pointer;
    width:28px; height: 30px;
}

.hamburger__content {
    width: 100%; height: 100%;
    position: relative;
}

.caret {
    position: absolute;
    width: 100%; height: 6px;
    background: rgb(11, 63, 131);
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
    top: 18%;
}
.middle {
    top: 48%;
}
.bottom {
    top: 78%;
}
.sidebar__navigation.active {
    left: 0px;
}
.hamburger__content.close .top {
    transform: rotate(45deg);
    top: 48%;
}
.hamburger__content.close .middle, .hamburger__content.close .bottom {
    transform: rotate(-45deg);
    top: 48%;
}
.sidebar__navigation {
    width: 300px; height: 100%;
    position: fixed; top: 0; left: 0;
    z-index: 10000;
    color: #fff;
    background-color: rgb(11, 63, 131);
    box-shadow: 0px 3px 6px #eee;
    left: -305px;
    transition: 0.3s ease;
    padding-left: 4px;
    padding-top: 4px;
}
.sidebar__navigation li {
    width: 100%;
    cursor: pointer;
    padding-left: 10px;
    line-height: 40px;
    outline: none;
    /* border-left: 4px solid #fff; */
}

.sidebar__navigation a {
    outline: none;
    color: #fff; text-decoration: none;
    font-family: Circular Std, Verdana, Arial, sans-serif;
    transition: 0.3s ease;
}
.active_class {
    border-left: 4px solid #fff;
}
.sidebar__navigation a:hover {
    color: #d6d6d6;
    padding-left: 10px;
}
ul {
    list-style-type: none;
    margin-top: 0px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

.navigation__links li{
    /* border: 1px solid #f00; */
    display: inline-block;
    margin-right: 8px;
    padding: 4px 6px;
    cursor: pointer;
    outline: none;
    /* border-bottom: 3px solid #000;
    border-radius: 10px; */
}
.navigation__links li a {
    outline: none;
}

.navigation__links li::after {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 3px;
    background: rgb(11, 63, 131);
    margin-top: 2px;
    transition: 0.5s;
}

.navigation__links li:hover::after {
    width: 30px;
}

.navigation__links li:nth-child(7) {
    background: #bb042f;
    padding: 7px 10px;
    border-radius: 50px;
    margin-top: -5px;
    border: 2px solid #bb042f;
    transition: 0.8s;
}

.navigation__links li:nth-child(7):hover {
    box-shadow: -3px 5px 8px #aaa3a3;
}

.navigation__links li:nth-child(7) a {
    font-family: Circular Std,Verdana,Arial,sans-serif;
    font-weight: bolder;
    color: #fff;
}

.navigation__links li:nth-child(7)::after {
    width: 0; height: 0;
}

.navigation__links li a {
    text-decoration: none;
    color: #000;
    font-family: Circular Std, Verdana, Arial, sans-serif;
}

/* Gallery Section Starts */
.gallery__section {
    background-image: url('../IMG/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    width: 100%; height: 90vh;
    display: flex; justify-content: center; align-items: center;
    padding: 10px;
    position: relative;
    top: 50px;
}
.gallery__text {
    width: 700px; height: 100px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    animation: slideUp 1.5s;
    font-size: 24px;
    color: rgb(11, 63, 131);
}
.gallery__text p:nth-child(1) {
    font-size: 30px;
    animation: slideRight 1.5s;
}
.gallery__text p:nth-child(2) {
    font-size: 30px;
    animation: slideRight 2s;
}
.gallery__text p:nth-child(3) {
    font-size: 30px;
    /* overflow: hidden;
    white-space: nowrap; */
    /* animation: type 3s steps(33); */
    animation: slideRight 2.5s;
    /* width: 38ch; */
}
/* Gallery Section Ends */

/* What to expect Starts */
section {
    width: 95%;
    margin: auto;
}
#what_expect {
    font-family: Circular Std, Verdana, Arial, sans-serif;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.65;
    color: #888a93;
}
.what_to_expect {
    margin-top: 40px;
}
.content_one {
    display: flex;
}
.image_icon {
    width: 50%;
    /* border: 1px solid #f00; */
}
.description {
    width: 50%;
    font-size: 16px;
    /* border:  1px solid #00f; */
}
section .p {
    text-align: center;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-top: 80px;
    color: #070000;
}
section .p::after {
    content: "";
    width: 30px; height: 4px;
    background-color: rgb(11, 63, 131);
    display: block;
    margin-left: 80px;
    margin-top: 4px;
}
.description {
    display: flex; justify-content: center; align-items: center;
}
.description__content {
    padding: 6px; 
    /* text-align: center; */
}
.image_icon_one {
    width: 50%;
    display: flex; justify-content: center; align-items: center;
}
.show_image {
    background-image: url('../IMG/ph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    width: 320px;
    height: 300px;
}
.result_icon {
    background-image: url('../IMG/r.jpg');
}
/* What to expect Ends */

/* About Us Starts */
.aboutus__container {
    color: #fff;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    /* margin-bottom: 100px; */
    background-color: rgb(11, 63, 131);
    font-family: Circular Std,Verdana,Arial,sans-serif;
    font-weight: 700; font-size: 56px;
    display: flex; justify-content: center; align-items: center;
}
.aboutus__heading {
    color: #070000;
    font-size: 26px;
    line-height: 1.4;
    font-family: Circular Std,Verdana,Arial,sans-serif;
    font-weight: 700;
}
.aboutus__content {
    display: flex;
    width: 90%;
    margin: auto;
    /* border: 1px solid #00f; */
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}
.aboutus__image {
    width: 40%;
    /* border: 1px solid #ff0; */
    display: flex; justify-content: center; align-items: center;
}
.about__showimage {
    width: 100%;
    height: 100%;
    /* border: 1px solid #f00; */
    background-image: url('../IMG/val1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}
.aboutus__cont {
    width: 60%;
    font-family: Circular Std, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.65;
    color: #888a93;
    padding: 12px;
    /* border: 1px solid #f00; */
}
/* About Us Ends */

/* Values Starts */
.values__content {
    max-width: 700px;
    height: auto;
    margin: 20px auto auto auto; 
    box-shadow: -1px 7px 8px #d6d6d6;
    padding-bottom: 30px;
    font-family: Circular Std, Verdana, Arial, sans-serif;
    /* font-weight: 400; */
    font-size: 19px;
    line-height: 1.65;
    color: #888a93;
}
.values__image {
    width: 100%;
    height: 250px;
}
.show__value_image {
    width: 100%;
    height: 100%;
    /* border: 1px solid #f00; */
    background-image: url('../IMG/val1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}
.values__cont {
    width: 85%;
    margin: 40px auto auto auto;
}
/* Values Ends */

/* Services Starts */
.services__container {
    width: 90%;
    height: auto;
    margin: 20px auto auto auto;
    /* display: flex; justify-content: center; align-items: center; */
}
.services__ {
    display: flex; justify-content: center; align-items: center;
}
.ser__cont1Image {
    width: 43%; height: 590px;
    box-shadow: -1px 7px 8px #d6d6d6;
    margin: 20px;
}
.show__serImage {
    width: 280px; height: 180px;
    /* border: 1px solid #f00; */
    margin: 30px auto auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}
.image_one {
    background-image: url('../IMG/SVG/construction.svg');
}
.image_two {
    background-image: url('../IMG/SVG/architecture.svg');
}
.image_three {
    background-image: url('../IMG/SVG/training.svg');
}
.image_four {
    background-image: url('../IMG//SVG/planning.svg');
}
.service__title {
    margin: auto;
    width: 320px;
    text-align: center;
    font-weight: bold;
    color: #121212;
}
.service__description {
    font-family: Circular Std, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.65;
    color: #888a93;
    padding: 13px;
}
/* Services Ends */

/* Contact us Starts */
.contact_ {
    margin-top: 30px;
}
.c_form {
    width: 100%;
    display: flex; justify-content: center;
}
.p_contact {
    width: 500px;
    margin: auto;
    padding: 10px;
    font-family: Circular Std, Verdana, Arial, sans-serif;
    color: #3f4047;
}
.contact_form {
    width: 500px;
    padding: 10px;
}
.contact_form form input {
    width: 100%;
    margin-bottom: 8px;
    height: 40px; border: 1px solid rgb(11, 63, 131);
    padding-left: 8px;

}
.contact_form form textarea {
    width: 100%; height: 120px;
    border: 1px solid rgb(11, 63, 131);
    padding: 10px;
}
.contact_form form input[type='submit'] {
    cursor: pointer;
    margin-top: 8px;
    background: rgb(11, 63, 131);
    color: #fff;
    border: none; outline: none;
}
/* Contact us Ends */

/* Footer Starts */
footer {
    margin-top: 70px;
    width: 100%;
    height: auto;
    background: #151414;
    color: #757575;
    font-size: 16px;
    font-family: Circular Std,Verdana,Arial,sans-serif;
    padding-top: 30px; padding-bottom: 50px;
    line-height: 1.5
}
.footer_div {
    width: 95%;
    margin: auto;
    display: flex; justify-content: center;
}
.logo__section {
    width: 33%; height: 260px;
    color: #d6d6d6;
}
.contact_links {
    width: 33%; height: 270px;
    color: #d6d6d6;
}
.address_links p {
    color: #d6d6d6;
}
.address_links {
    width: 33%; height: 220px;
}
.contact_links  p::after, .address_links p::after {
    content: "";
    width: 35px; height: 4px;
    background-color: rgb(11, 63, 131);
    display: block;
    margin-top: 6px;
}
.contact_links li a {
    color: #757575;
    line-height: 1.65;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    font-family: Circular Std,Verdana,Arial,sans-serif;
}
.contact_links li a:hover {
    color: rgb(11, 63, 131);
}
/* Footer Ends */

/* Animation Starts */
@keyframes slideUp {
    0% {
        margin-top: 300px;
        opacity: 0.5;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
/* Animation Ends */

/* Media Queries */
@media screen and (max-width: 768px) {
    .nav__header {
        display: none;
    }
    .content_one {
        display: block;
    }
    .image_icon {
        width: 100%;
    }
    .description {
        width: 98%;
        margin: auto;
    }
    .show_image {
        width: 338px; 
    }
    .image_icon_one {
        width: 100%;
    }
    .horizontal_rule {
        border-top: 1px solid #000;
    }
    .aboutus__content {
        display: block;
        width: 95%;
    }
    .aboutus__image {
        width: 100%;
        height: 300px;
    }
    .aboutus__cont {
        width: 100%;
    }
    .footer_div {
        display: block;
    }
    .logo__section {
        width: 100%
    }
    .contact_links {
        width: 100%;
    }
    .address_links {
        width: 100%;
    }
    .services__ {
        display: block;
    }
    .ser__cont1Image {
        width: 100%;
        margin: 0;
        height: auto;
        margin-bottom: 30px;
        padding-top: 10px; padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .sidebar__navigation {
        display: none;
    }
    .mobile__header {
        display: none;
    }
    .show_image {
        width: 500px;
    }
    .horizontal_rule {
        margin-top: 60px;
    }
}

@media screen and (max-width: 457px) {
    .gallery__section {
        padding-top: 50px;
    }
    .gallery__text p:nth-child(1) {
        font-size: 26px;
    }
    .gallery__text p:nth-child(2) {
        font-size: 26px;
    }
    .gallery__text p:nth-child(3) {
        font-size: 26px
    }
}